* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px #dc2814, 0 0 20px #dc2814, 0 0 40px #dc2814,
      0 0 80px #dc2814;
  }
  50% {
    text-shadow: 0 0 20px #dc2814, 0 0 40px #dc2814, 0 0 60px #dc2814,
      0 0 100px #dc2814;
  }
  100% {
    text-shadow: 0 0 10px #dc2814, 0 0 20px #dc2814, 0 0 40px #dc2814,
      0 0 80px #dc2814;
  }
}

@keyframes glow2 {
  0% {
    box-shadow: 0 0 10px 5px #dc2814;
  }
  50% {
    box-shadow: 0 0 20px 10px #dc2814;
  }
  100% {
    box-shadow: 0 0 10px 5px #dc2814;
  }
}

@keyframes moving-glow {
  0% {
    text-shadow: -10px -10px 20px #dc2814, 10px 10px 40px #dc2814,
      -10px 10px 60px #dc2814;
  }
  50% {
    text-shadow: 10px 10px 20px #dc2814, -10px -10px 40px #dc2814,
      10px -10px 60px #dc2814;
  }
  100% {
    text-shadow: -10px -10px 20px #dc2814, 10px 10px 40px #dc2814,
      -10px 10px 60px #dc2814;
  }
}

html {
  scroll-behavior: smooth;
}

.header {
  display: flex;
  background-color: #252525;
  color: white;
  justify-content: flex-end;
  height: 100px;
  align-items: center;
  border-bottom: solid #dc2814 3px;
  position: fixed;
  width: 100%;
  margin-top: -100px;
  z-index: 10;
  flex-direction: column;

  .divHeader {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;

    .alexandre {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        font-size: 2.4em;
        text-shadow: 0 0 10px #dc2814, 0 0 20px #dc2814, 0 0 40px #dc2814,
          0 0 80px #dc2814;
        animation: glow 1.5s infinite alternate ease-in-out,
          moving-glow 2s infinite alternate ease-in-out;
      }

      h2 {
        font-size: 1.4em;
        text-shadow: 0 0 10px #dc2814, 0 0 20px #dc2814, 0 0 40px #dc2814,
          0 0 80px #dc2814;
        animation: glow 1.5s infinite alternate ease-in-out,
          moving-glow 2s infinite alternate ease-in-out;
      }
    }

    .menu-button {
      background-color: #dc2814;
      color: white;
      border: none;
      padding: 10px 15px;
      cursor: pointer;
      font-size: 16px;
      border-radius: 5px;
      display: none;
    }

    .divNavModo {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      nav {
        width: 100%;
        margin-bottom: 20px;

        ul {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 1.5em;

          li {
            transition: text-shadow 0.6s ease;
          }

          li:hover {
            text-shadow: 0 0 10px #dc2814, 0 0 20px #dc2814, 0 0 40px #dc2814,
              0 0 80px #dc2814;
            cursor: pointer;
          }

          a {
            color: white;
          }

          .light {
            background-color: #c9c9c9; /* Cor clara */
            color: black;
          }

          .dark {
            background-color: #252525; /* Cor escura */
            color: white;
          }
        }
      }
    }

    .modo {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      button {
        padding: 10px;
        border-radius: 15px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-weight: bolder;
        border: solid 2px #dc2814;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.light {
  background-color: #c9c9c9; /* Cor clara */
  color: black;
}

.dark {
  background-color: #252525; /* Cor escura */
  color: white;
}

.main {
  background-color: #252525;
  color: white;
  margin-top: 100px;
  scroll-margin-top: 130px;

  .sobre {
    background-color: #373737;
    display: flex;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 40px;

    img {
      width: 400px;
      height: 400px;
      border-radius: 50%;
      transition: box-shadow 0.6s ease;

      &:hover {
        animation: glow2 1.5s infinite alternate ease-in-out;
      }
    }

    div {
      text-align: justify;
      width: 60%;
      margin-top: 10px;

      h3 {
        font-size: 2em;
        color: #dc2814;
        text-align: center;
      }

      p {
        margin-top: 10px;
        font-size: 1.1em;
        text-indent: 5%;
      }
    }
  }

  .light2 {
    background-color: #f0efef; /* Cor clara */
    color: black;
  }

  .dark2 {
    background-color: #373737; /* Cor escura */
    color: white;
  }

  .skillsSoftskills {
    border-top: solid #dc2814 2px;
    scroll-margin-top: 100px;

    .tecnologias {
      margin-bottom: 40px;

      h3 {
        margin-left: 10px;
        font-size: 2em;
        color: #dc2814;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      div {
        display: flex;
        justify-content: space-around;
        align-items: center;

        img {
          width: 100px;
          height: 100px;

          &:hover {
            cursor: pointer;
          }
        }

        .tecExplicada {
          display: flex;
          flex-direction: column;
          position: relative;

          .explicacao1 {
            position: absolute;
            background-color: white;
            color: black;
            border-radius: 0 15px 15px 15px;
            border: solid 3px #dc2814;
            display: flex;
            flex-direction: column;
            width: 400px;
            top: 100px;
            left: 90px;
            text-align: justify;
            padding: 5px;

            h2 {
              margin-bottom: 10px;
            }
          }

          .explicacao2 {
            position: absolute;
            background-color: white;
            color: black;
            border-radius: 15px 0 15px 15px;
            border: solid 3px #dc2814;
            display: flex;
            flex-direction: column;
            width: 400px;
            top: 100px;
            right: 90px;
            text-align: justify;
            padding: 5px;

            h2 {
              margin-bottom: 10px;
            }
          }
        }
      }
    }

    .idiomas {
      h3 {
        margin-left: 10px;
        font-size: 2em;
        color: #dc2814;
        margin-top: 20px;
      }

      ul {
        font-size: 1.5em;

        li {
          margin: 10px 0 10px 40px;
        }
      }
    }

    .softskills {
      h3 {
        margin-left: 10px;
        font-size: 2em;
        color: #dc2814;
        margin-top: 60px;
      }

      ul {
        font-size: 1.5em;
        display: flex;
        flex-wrap: wrap; /* Permite quebrar para nova linha */
        gap: 20px; /* Espaçamento entre itens */
        margin-top: 10px;
        padding-bottom: 40px;

        li {
          margin: 0 0 0 40px;
          flex: 1 1 45%; /* Cada item ocupa ~45% da largura */
        }
      }
    }
  }

  .light {
    background-color: #c9c9c9; /* Cor clara */
    color: black;
  }

  .dark {
    background-color: #252525; /* Cor escura */
    color: white;
  }

  #link3 {
    scroll-margin-top: 100px;
  }

  .contatos {
    border-top: solid #dc2814 2px;
    background-color: #373737;

    h3 {
      margin-left: 10px;
      font-size: 2em;
      color: #dc2814;
      margin-top: 20px;
    }

    div {
      margin-top: 20px;
      display: flex;
      justify-content: space-around;
      padding-bottom: 60px;

      img {
        width: 80px;
      }
    }
  }

  .light2 {
    background-color: #f0efef; /* Cor clara */
    color: black;
  }

  .dark2 {
    background-color: #373737; /* Cor escura */
    color: white;
  }

  .projetos {
    border-top: solid #dc2814 2px;
    scroll-margin-top: 100px;

    h3 {
      margin-left: 10px;
      font-size: 2em;
      color: #dc2814;
      margin-top: 20px;
      margin-bottom: 60px;
    }

    .listaProjetos {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      p {
        text-align: justify;
        margin-bottom: 15px;
      }

      .projeto {
        display: flex;
        width: 48%;
        height: 490px;
        justify-content: space-around;
        margin-bottom: 70px;

        .imgProjeto {
          width: 275px;
          height: 489px;
        }

        > div {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          h4 {
            color: #dc2814;
            font-size: 1.5em;
            margin-bottom: 20px;
            text-align: center;
          }

          .projetoTec {
            display: flex;
            justify-content: space-around;
            margin-bottom: 15px;

            img {
              width: 50px;
            }
          }

          .projetoLink {
            display: flex;
            justify-content: space-around;

            img {
              width: 50px;
            }
          }
        }
      }
    }
  }

  .light {
    background-color: #c9c9c9; /* Cor clara */
    color: black;
  }

  .dark {
    background-color: #252525; /* Cor escura */
    color: white;
  }
}

.footer {
  border-top: solid #dc2814 2px;
  background-color: #373737;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  div {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;

    img {
      width: 100px;
    }
  }
}

.light2 {
  background-color: #f0efef; /* Cor clara */
  color: black;
}

.dark2 {
  background-color: #373737; /* Cor escura */
  color: white;
}

//RESPONSIVIDADE
@media (max-width: 500px) {
  .header {
    height: auto;
    padding: 12px 0 12px 0;

    .divHeader {
      height: 100%;
      width: 100%;
      position: relative;

      .alexandre {
        h1 {
          font-size: 2.5em;
        }

        h2 {
          font-size: 1.5em;
        }
      }

      .menu-button {
        display: block; // Mostra só em telas pequenas
        margin-right: 10px;
      }

      .divNavModo {
        display: none; // Esconde por padrão

        // &.open {
        //   display: block; // Mostra quando o menu está aberto
        // }
      }

      .divNavModoMobile {
        position: absolute;
        top: 87px;
        left: 220px;
        background-color: #dc2814;
        font-size: 1.7em;
        text-align: right;
        padding-right: 10px;
        padding-bottom: 10px;
        width: 170px;
        border-radius: 0 0 0 10px;

        li {
          margin-bottom: 10px;
          a {
            background-color: #dc2814;
          }
        }
      }
    }
  }

  .main {
    .sobre {
      flex-direction: column;

      img {
        width: 300px;
        height: 300px;
        margin-top: 10px;
      }

      div {
        width: 100%;
        padding: 0 5px 0 5px;
      }
    }

    .skillsSoftskills {
      .tecnologias {
        div {
          display: flex;
          flex-wrap: wrap;

          img {
            width: 80px;
            height: 80px;
            margin-bottom: 10px;
          }

          .tecExplicada {
            .explicacao1 {
              z-index: 10;
              width: 370px;
              margin-left: 10px;
              position: fixed;
              left: 0;
              border-radius: 15px 15px 15px 15px;
            }

            .explicacao2 {
              z-index: 10;
              width: 370px;
              margin-left: 10px;
              position: fixed;
              left: 0;
              border-radius: 15px 15px 15px 15px;
            }
          }
        }
      }
    }

    .projetos {
      .listaProjetos {
        display: none;
      }

      .listaProjetosMobile {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        margin-top: -30px;

        .projeto {
          display: flex;
          flex-direction: column;

          .tituloDesc {
            display: flex;
            flex-direction: column;

            h4 {
              color: #dc2814;
              font-size: 1.5em;
              margin-bottom: 20px;
              text-align: center;
            }

            p {
              text-align: justify;
              margin: 0 5px 15px 5px;
            }
          }

          .imgInfos {
            display: flex;

            h4 {
              color: #dc2814;
              font-size: 1.5em;
              margin-bottom: 20px;
              text-align: center;
            }

            .imgMobile {
              img {
                width: 150px;
                height: 267px;
              }
            }

            .infos {
              display: flex;
              flex-direction: column;

              .projetoTec {
                display: flex;
                width: 100%;
                justify-content: space-around;
                margin-bottom: 50px;

                img {
                  width: 50px;
                }
              }

              .projetoLink {
                display: flex;
                width: 100%;
                justify-content: space-around;
                margin-bottom: 80px;

                img {
                  width: 50px;
                }
              }
            }
          }
        }
      }
    }
  }

  .footer {
    div {
      width: 90%;
      justify-content: space-between;

      img {
        width: 70px;
      }

      p {
        font-size: 0.7em;
        text-align: center;
      }
    }
  }
}

